In [86]:
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns
import numpy as np
#sns.set()
#import json
#import ast
#from pandas.io.json import json_normalize
#import calendar
#import unix
import locale
locale.setlocale(locale.LC_ALL, 'es_ES.utf8')

'es_ES.utf8'

In [87]:
movies = pd.read_csv('Movies ETL.csv', sep=',')
credits = pd.read_csv('Credits ETL.csv', sep=',')
cast = pd.read_csv('Cast.csv', sep=',')
director = pd.read_csv('Director.csv', sep=',')

In [88]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45376 entries, 0 to 45375
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             45376 non-null  int64
 1   belongs_to_collection  4381 non-null   object
 2   budget                 45376 non-null  float64
 3   genres                 45376 non-null  object
 4   id                     45346 non-null  float64
 5   original_language      45365 non-null  object
 6   overview               44435 non-null  object
 7   popularity             45376 non-null  float64
 8   production_companies   45376 non-null  object
 9   production_countries   45376 non-null  object
 10  release_date           45376 non-null  object
 11  revenue                45376 non-null  float64
 12  runtime                45130 non-null  float64
 13  spoken_languages       45376 non-null  object
 14  status                 45296 non-null  object
 15  tagline                20398 non-null  object
 16  title                  45376 non-null  object
 17  vote_average           45376 non-null  float64
 18  vote_count             45376 non-null  float64
 19  release_year           45376 non-null  int64
 20  return                 45376 non-null  float64
dtypes: float64(8), int64(2), object(11)
memory usage: 7.3+ MB

***Función 1:***

def cantidad_filmaciones_mes( Mes ):

Se ingresa un mes en idioma Español. 

Debe devolver la cantidad de películas que fueron estrenadas en el mes consultado en la totalidad del dataset.
        
        Ejemplo de retorno: X cantidad de películas fueron estrenadas en el mes de X

In [89]:
def cantidad_filmaciones_mes(Mes):

    # Convertir el mes a minúsculas y capitalizar la primera letra
    Mes = Mes.lower().capitalize()

    #Cargo el DF
    movies = pd.read_csv('Movies ETL.csv', sep=',')

    # Convertir la columna 'release_date' a tipo de dato datetime
    movies['release_date'] = pd.to_datetime(movies['release_date'])

    # Filtrar las películas que coinciden con el mes consultado. Para que reconozca los meses en Español tengo que usar el parámetro 'es_ES.utf8'.
    filmaciones_mes = movies[movies['release_date'].dt.month_name() == Mes]
    
    # Obtener la cantidad de filmaciones en el mes
    cantidad = len(filmaciones_mes)

    return {'Mes': Mes, 'Cantidad de películas': cantidad}
    #f'{cantidad} cantidad de películas fueron estrenadas en el mes de {Mes}'

In [90]:
cantidad_filmaciones_mes('octubre')

{'Mes': 'Octubre', 'Cantidad de películas': 0}

***Función 2***

def cantidad_filmaciones_dia( Dia ): Se ingresa un día en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en día consultado en la totalidad del dataset.
            
        Ejemplo de retorno: X cantidad de películas fueron estrenadas en los días X

In [91]:
def cantidad_filmaciones_dia( Dia ):
   
    # Convertir el mes a minúsculas y capitalizar la primera letra
    Dia = Dia.lower().capitalize()

    #Cargo el DF
    movies = pd.read_csv('Movies ETL.csv', sep=',')

    # Convertir la columna 'release_date' a tipo de dato datetime
    movies['release_date'] = pd.to_datetime(movies['release_date'])

    # Filtrar las películas que coinciden con el mes consultado. Para que reconozca los meses en Español tengo que usar el parámetro 'es_ES.utf8'.
    filmaciones_dia = movies[movies['release_date'].dt.day_name(locale='es_ES.utf8') == Dia]
    
    # Obtener la cantidad de filmaciones en el mes
    cantidad = len(filmaciones_dia)

    return {'Día': Dia, 'Cantidad de películas': cantidad}
    #f'{cantidad} cantidad de películas fueron estrenadas en el mes de {Dia}'

In [92]:
cantidad_filmaciones_dia('viernes')

{'Día': 'Viernes', 'Cantidad de películas': 13908}

***Función 3***

def score_titulo( titulo_de_la_filmación ): 

Se ingresa el título de una filmación ['title']

esperando como respuesta el título ['title'], el año de estreno ['release_year'] y el score ['popularity'].

        Ejemplo de retorno: La película X fue estrenada en el año X con un score/popularidad de X

In [93]:
import os

In [94]:
# Obtener la ruta absoluta del archivo Movies ETL.csv
file_path = os.path.abspath("Movies ETL.csv")

# Verificar si el archivo existe en la ruta proporcionada
if os.path.exists(file_path):
    movies = pd.read_csv(file_path, sep=',')

In [95]:
def score_titulo(titulo_de_la_filmación):
    
    #Paso a minúscula para que luego coincida con los valores del Dataframe.
    titulo_de_la_filmación = titulo_de_la_filmación.lower()

    #cargo el DF
    movies = pd.read_csv("Movies ETL.csv", sep= ',')

    #En el df movies, pasar todos los títulos a minúsculas 
    movies['title'] =  movies['title'].str.lower()

    # Filtrar los datos por el título de la filmación
    filtro = movies['title'] == titulo_de_la_filmación
    pelicula = movies.loc[filtro]

    # Verificar si se encontró alguna película con el título dado
    if pelicula.empty:
        return "No se encontró ninguna película con ese título."

    # Obtener el título, año de estreno y score de la película encontrada
    titulo = pelicula['title'].values[0]
    año_estreno = pelicula['release_year'].values[0]
    score = pelicula['popularity'].values[0]    

    return {'La película': titulo, 'fue estrenada en el año': año_estreno, 'con un score/popularidad de': score}

In [96]:
score_titulo('jumanji')

{'La película': 'jumanji',
 'fue estrenada en el año': 1995,
 'con un score/popularidad de': 17.015539}

***Función 4***

def votos_titulo( titulo_de_la_filmación ): 

Se ingresa el título de una filmación 

esperando como respuesta el título ['title'], la cantidad de votos ['vote_count'] y el valor promedio de las votaciones ['vote_averange']. 

La misma variable deberá de contar con al menos 2000 valoraciones (['vote_count'] > 2000),
        
caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.

        Ejemplo de retorno: La película X fue estrenada en el año X. La misma cuenta con un total de X valoraciones, con un promedio de X

In [97]:
#Variable a asignar
titulo_de_la_filmación = 'Grumpier Old Men'

In [98]:
def votos_titulo( titulo_de_la_filmación ):
    #Paso a minúscula para que luego coincida con los valores del Dataframe.
    titulo_de_la_filmación = titulo_de_la_filmación.lower()

    #cargo el DF
    movies = pd.read_csv("Movies ETL.csv", sep= ',')

    #En el df movies, pasar todos los títulos a minúsculas 
    movies['title'] =  movies['title'].str.lower()


    # Filtrar por título de la filmación
    filtro_titulo = movies['title'] == titulo_de_la_filmación
    pelicula = movies.loc[filtro_titulo]

    # Verificar la cantidad de votos
    if pelicula['vote_count'].values[0] > 2000:

        # Obtener los valores requeridos
        titulo = pelicula['title'].values[0]
        votos = pelicula['vote_count'].values[0]
        promedio = pelicula['vote_average'].values[0]

        return {'La película': titulo, 'cuenta con un total de': votos, 'con un promedio de': promedio}

    else:
        #Mensaje si vote_count < 2000
        return {'La película': 'no cuenta con al menos 2000 valoraciones'}

In [99]:
votos_titulo('Jumanji')

{'La película': 'jumanji',
 'cuenta con un total de': 2413.0,
 'con un promedio de': 6.9}

In [100]:
#Paso a minúscula para que luego coincida con los valores del Dataframe.
titulo_de_la_filmación = titulo_de_la_filmación.lower()

#cargo el DF
movies = pd.read_csv("Movies ETL.csv", sep= ',')

#En el df movies, pasar todos los títulos a minúsculas 
movies['title'] =  movies['title'].str.lower()

In [101]:
# Filtrar por título de la filmación
filtro_titulo = movies['title'] == titulo_de_la_filmación
pelicula = movies.loc[filtro_titulo]

pelicula

,Unnamed: 0,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
2,2,Grumpy Old Men Collection,0.0,"['Romance', 'Comedy']",15602.0,en,A family wedding reignites the ancient feud be...,11.7129,"['Warner Bros.', 'Lancaster Gate']",['US'],...,0.0,101.0,['en'],Released,Still Yelling. Still Fighting. Still Ready for...,grumpier old men,6.5,92.0,1995,0.0

In [102]:
# Verificar la cantidad de votos
if pelicula['vote_count'].values[0] > 2000:

    # Obtener los valores requeridos
    titulo = pelicula['title'].values[0]
    votos = pelicula['vote_count'].values[0]
    promedio = pelicula['vote_average'].values[0]

    print(f"La película {titulo} cuenta con un total de {votos} valoraciones, con un promedio de {promedio}")

else:
    #Mensaje si vote_count < 2000
    print(f'La película no cuenta con al menos 2000 valoraciones')

La película no cuenta con al menos 2000 valoraciones

***Función 5***

def get_actor( nombre_actor ): 

Se ingresa el nombre de un actor que se encuentre dentro de un dataset 

debiendo devolver el éxito del mismo medido a través del retorno. (sum['return'])

Además, la cantidad de películas que en las que ha participado (countdifferent['id']) y el promedio de retorno (avg['return']). 

La definición no deberá considerar directores.

        Ejemplo de retorno: El actor X ha participado de X cantidad de filmaciones, el mismo ha conseguido un retorno de X con un promedio de X por filmación

In [110]:
#Esta función trabaja bien localmente pero consume mucha memoria. Por ende, cuando lo levanto en Render, tira error 502.
#En la celda siguiente, hago una prueba para optimizarlo.

def get_actor( nombre_actor ):
    #convierto la variable a minúsculas para independizarme de la forma en que el usuario escribe el nombre
    nombre_actor = nombre_actor.lower()

    #Tengo que unir Movies ETL.csv y Cast.csv a través de id
    df_cast = pd.merge(movies, cast, on='id')

    #Creo un DF con los datos que necesito
    get_actor = pd.DataFrame(data= df_cast, columns=['cast_name', 'id', 'return'])

    #Filtro el DF por el nombre que ingresó el usario
    get_actor = get_actor[get_actor['cast_name'] == nombre_actor]

    #Hago los cálculos
    count = get_actor['id'].count() #Cuento la cantidad de películas en la que participó el actor.
    total_return = get_actor['return'].sum() #Éxito del actor, medido por la suma del retorno
    avg_return = get_actor['return'].mean() #Se incluye también el retorno promedioen función de las películas en las que actuó.

    return {'El actor': nombre_actor, 'ha participado de': count, 'filmaciones. Ha conseguido un retorno de': total_return, 'con un promedio por película de': avg_return}

In [111]:
get_actor('tom hanks')

{'El actor': 'tom hanks',
 'ha participado de': 72,
 'filmaciones. Ha conseguido un retorno de': 178.8494960552024,
 'con un promedio por película de': 2.484020778544478}

ESTAS SON LAS PRUEBAS, LÍNEA POR LÍNEA DE LA FUNCIÓN DE get_actor

In [20]:
nombre_actor = 'Tom Hanks'

In [21]:
#convierto la variable a minúsculas para independizarme de la forma en que el usuario escribe el nombre
nombre_actor = nombre_actor.lower()

In [27]:
#Tengo que unir Movies ETL.csv y Cast.csv a través de id
df_cast = pd.merge(movies, cast, on='id')
df_cast.shape

(564691, 24)

In [23]:
#Convierto los valores de la columna cast_name a minúscula.
df_cast['cast_name'] =  df_cast['cast_name'].str.lower()

In [24]:
#Creo un DF con los datos que necesito
get_actor = pd.DataFrame(data= df_cast, columns=['cast_name', 'id', 'return'])

In [25]:
#Filtro el DF por el nombre que el usuario puso
get_actor = get_actor[get_actor['cast_name'] == nombre_actor]

In [26]:
get_actor.head()

      cast_name      id     return
0     tom hanks   862.0  12.451801
2394  tom hanks   568.0   6.831499
5861  tom hanks    13.0  12.326280
8493  tom hanks  9800.0   7.949171
9087  tom hanks   858.0  10.847614

In [27]:
count = get_actor['id'].count()
count

72

In [28]:
total_return = get_actor['return'].sum()
total_return

178.8494960552024

In [29]:
avg_return = get_actor['return'].mean()
avg_return

2.484020778544478

***Función 6***

def get_director( nombre_director ):

Se ingresa el nombre de un director que se encuentre dentro de un dataset ['crew_name']

debiendo devolver el éxito del mismo medido a través del retorno. ['return'].sum()

Además, deberá devolver el nombre de cada película ['title'] con la fecha de lanzamiento ['release_date'], retorno individual ['return'], costo ['budget'] y ganancia ['revenue'] de la misma.

**En este caso, tiene que devolver un DF con las columnas: 'director', 'total_return' (este valor se repetirá en todas las filas), 'title', 'release_date', 'return', 'budget', 'revenue'**

In [41]:
def get_director( nombre_director ):

    #convierto la variable a minúsculas para independizarme de la forma en que el usuario escribe el nombre
    nombre_director = nombre_director.lower()

    #Tengo que unir Movies ETL.csv y Director.csv a través de id
    df_director = pd.merge(movies, director, on='id')

    #Convierto los valores de la columna cast_name a minúscula.
    df_director['crew_name'] =  df_director['crew_name'].str.lower()

    #Creo un DF con los datos que necesito
    get_director = pd.DataFrame(data= df_director, columns=['id', 'crew_name' , 'title', 'release_date', 'return', 'budget', 'revenue'])

    #Filtro el DF por el nombre que el usuario puso
    get_director = get_director[get_director['crew_name'] == nombre_director]

    #Sumo el total_return
    dir_total_return = get_director['return'].sum()

    #Agrego al df la columna con el total_return
    get_director['director_total_return'] = get_director['return'].sum()

    #Devuelvo el return total y una tabla con el detalle de cada película
    #return get_director
    return {"El director": nombre_director, 'ha conseguido un retorno total de': dir_total_return, 
            "A continuación se muestra un detalle de todas las películas que digrigió:": get_director[['title', 'release_date', 'return', 'budget', 'revenue']]}

In [42]:
get_director('Steven Spielberg')

{'El director': 'steven spielberg',
 'ha conseguido un retorno total de': 309.9980864877447,
 'A continuación se muestra un detalle de todas las películas que digrigió:':                                                    title release_date  \
 491                                        jurassic park   1993-06-11
 541                                     schindler's list   1993-11-29
 1124                          e.t. the extra-terrestrial   1982-04-03
 1224                             raiders of the lost ark   1981-06-12
 1325                  indiana jones and the last crusade   1989-05-24
 1421                                                jaws   1975-06-18
 1561                       the lost world: jurassic park   1997-05-23
 1702                                             amistad   1997-12-03
 2019                                 saving private ryan   1998-07-24
 2126                indiana jones and the temple of doom   1984-05-23
 2772                                    the color purple   1985-12-18
 3554                  close encounters of the third kind   1977-11-16
 3573                                                hook   1991-12-11
 3834                               the sugarland express   1974-04-05
 4222                                   empire of the sun   1987-12-09
 4506                        a.i. artificial intelligence   2001-06-29
 4706                                              always   1989-12-22
 5619                                     minority report   2002-06-20
 6191                                 catch me if you can   2002-12-25
 7353                                                1941   1979-12-13
 8293                                        the terminal   2004-06-17
 9179                                                duel   1972-10-01
 9353                            twilight zone: the movie   1983-06-24
 10796                                  war of the worlds   2005-06-28
 11296                                             munich   2005-12-22
 13469  indiana jones and the kingdom of the crystal s...   2008-05-21
 19458                           the adventures of tintin   2011-10-25
 19545                                          war horse   2011-12-25
 21349                                            lincoln   2012-11-09
 24978                                      night gallery   1969-04-03
 36077                                    bridge of spies   2015-10-15
 41783                                            the bfg   2016-06-01
 43434                                     something evil   1972-01-21

           return       budget      revenue
 491    14.604762   63000000.0  920100000.0
 541    14.607526   22000000.0  321365567.0
 1124   75.520507   10500000.0  792965326.0
 1224   21.662554   18000000.0  389925971.0
 1325    9.878579   48000000.0  474171806.0
 1421   67.236286    7000000.0  470654000.0
 1561    3.138007   73000000.0  229074524.0
 1702    2.055556   36000000.0   74000000.0
 2019    6.883442   70000000.0  481840909.0
 2126   11.892857   28000000.0  333000000.0
 2772    9.752801   15000000.0  146292009.0
 3554   15.189432   20000000.0  303788635.0
 3573    4.297926   70000000.0  300854823.0
 3834    4.266667    3000000.0   12800000.0
 4222    0.635391   35000000.0   22238696.0
 4506    2.359266  100000000.0  235926552.0
 4706    2.391445   31000000.0   74134790.0
 5619    3.513460  102000000.0  358372926.0
 6191    6.771429   52000000.0  352114312.0
 7353    0.907307   35000000.0   31755742.0
 8293    3.656954   60000000.0  219417255.0
 9179    0.000000     450000.0          0.0
 9353    2.945092   10000000.0   29450919.0
 10796   4.482874  132000000.0  591739379.0
 11296   1.862270   70000000.0  130358911.0
 13469   4.252087  185000000.0  786636033.0
 19458   2.861077  130000000.0  371940071.0
 19545   2.690680   66000000.0  177584879.0
 21349   4.235284   65000000.0  275293450.0
 24978   0.000000          0.0          0.0
 36077   4.136959   40000000.0  165478348.0
 41783   1.309611  140000000.0  183345589.0
 43434   0.000000          0.0          0.0  }

In [32]:
nombre_director = 'John Lasseter'

In [33]:
#convierto la variable a minúsculas para independizarme de la forma en que el usuario escribe el nombre
nombre_director = nombre_director.lower()

In [34]:
#Tengo que unir Movies ETL.csv y Director.csv a través de id
df_director = pd.merge(movies, director, on='id')
df_director.head(2)

,Unnamed: 0_x,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,...,status,tagline,title,vote_average,vote_count,release_year,return,Unnamed: 0_y,crew_job,crew_name
0,0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['US'],...,Released,NaN,toy story,7.7,5415.0,1995,12.451801,0,Director,John Lasseter
1,1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844.0,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['US'],...,Released,Roll the dice and unleash the excitement!,jumanji,6.9,2413.0,1995,4.043035,1,Director,Joe Johnston

In [35]:
#Convierto los valores de la columna cast_name a minúscula.
df_director['crew_name'] =  df_director['crew_name'].str.lower()

In [36]:
#Creo un DF con los datos que necesito
get_director = pd.DataFrame(data= df_director, columns=['id', 'crew_name' , 'title', 'release_date', 'return', 'budget', 'revenue'])
get_director

,id,crew_name,title,release_date,return,budget,revenue
0,862.0,john lasseter,toy story,1995-10-30,12.451801,30000000.0,373554033.0
1,8844.0,joe johnston,jumanji,1995-12-15,4.043035,65000000.0,262797249.0
2,15602.0,howard deutch,grumpier old men,1995-12-22,0.000000,0.0,0.0
3,31357.0,forest whitaker,waiting to exhale,1995-12-22,5.090760,16000000.0,81452156.0
4,11862.0,charles shyer,father of the bride part ii,1995-02-10,0.000000,0.0,76578911.0
...,...,...,...,...,...,...,...
49001,30840.0,john irvin,robin hood,1991-05-13,0.000000,0.0,0.0
49002,111109.0,lav diaz,century of birthing,2011-11-17,0.000000,0.0,0.0
49003,67758.0,mark l. lester,betrayal,2003-08-01,0.000000,0.0,0.0
49004,227506.0,yakov protazanov,satan triumphant,1917-10-21,0.000000,0.0,0.0
49005,461257.0,daisy asquith,queerama,2017-06-09,0.000000,0.0,0.0

In [37]:
#Filtro el DF por el nombre que el usuario puso
get_director = get_director[get_director['crew_name'] == nombre_director]
get_director

,id,crew_name,title,release_date,return,budget,revenue
0,862.0,john lasseter,toy story,1995-10-30,12.451801,30000000.0,373554033.0
2374,9487.0,john lasseter,a bug's life,1998-11-25,3.027157,120000000.0,363258859.0
3172,863.0,john lasseter,toy story 2,1999-10-30,5.526299,90000000.0,497366869.0
11314,13925.0,john lasseter,luxo jr.,1986-08-17,0.000000,0.0,0.0
11657,920.0,john lasseter,cars,2006-06-08,3.849860,120000000.0,461983149.0
18693,49013.0,john lasseter,cars 2,2011-06-11,2.799262,200000000.0,559852396.0
20598,13927.0,john lasseter,tin toy,1988-08-01,0.000000,0.0,0.0
20653,13926.0,john lasseter,red's dream,1987-08-17,0.000000,0.0,0.0
20700,13928.0,john lasseter,knick knack,1989-01-01,0.000000,0.0,0.0
24685,13934.0,john lasseter,mater and the ghostlight,2006-07-27,0.000000,0.0,0.0

In [38]:
#Sumo el total_return
dir_total_return = get_director['return'].sum()
dir_total_return

27.65437835777778